tox==3.23.1
factory-boy==3.2.0
pytest==4.6
pytest-cov==2.12.1
pytest-django==4.4.0
pytz==2021.1
mock==4.0.3
django-model-utils==4.1.1
python-dateutil==2.8.1
flake8==3.9.2
django-waffle==2.2.0

# XBlock dependencies to make testing easier
# mostly to import workbench.settings
xblock-utils>=2.1.1
XBlock==1.4.0; python_version < '3.9'
XBlock>=1.4.0; python_version >= '3.9'
xblock-sdk==0.2.2; python_version < '3.9'
xblock-sdk>=0.3.0; python_version >= '3.9'
django-pyfs>=2.2
lazy>=1.4
