tox==3.23.1
factory-boy==2.12.0
pytest==4.6
pytest-cov==2.11.0
pytest-django==3.2.1
pytz==2021.1
mock==3.0.5
django-model-utils==4.1.1
python-dateutil==2.8.1
flake8==3.9.2
django-waffle==2.2.0

# XBlock dependencies to make testing easier
# mostly to import workbench.settings

web-fragments==0.3.2 ; python_version < '3.8'
web-fragments==1.1.0 ; python_version >= '3.8'

xblock-utils==2.1.1 ; python_version < '3.8'
xblock-utils>=2.2.0 ; python_version >= '3.8'


XBlock==1.4.0; python_version < '3.8'
XBlock>=1.4.0; python_version >= '3.8'

xblock-sdk==0.2.2; python_version < '3.8'
xblock-sdk>=0.3.0; python_version >= '3.8'

django-pyfs>=2.2
lazy>=1.4
